# Server Configuration
HOSTNAME=http://localhost:3000
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:19006
PRIVATE_KEY_PATH=code-signing-keys/private-key.pem

# Production settings (uncomment and modify for production)
# HOSTNAME=https://your-server-domain.com
# ALLOWED_ORIGINS=https://your-client-domain.com,https://your-app-domain.com